student.xml

<?xml version = "1.0"  encoding = "utf-8"?>
<!DOCTYPE student_catalog [
<!ELEMENT student_catalog (student+)>
<!ELEMENT student (name, address, marks, hobbies)>
<!ELEMENT name (fname, lname, mname)>
<!ELEMENT address (houseno, streetname, cityname, state)>
<!ELEMENT marks (#PCDATA)>
<!ELEMENT hobbies (#PCDATA)>
]>
<?xml-stylesheet type="text/css" href="student_css.css"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<c_section>
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> ksi </xs:fname>
	<xs:lname> k </xs:lname>
	<xs:mname> ti </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 101 </xs:houseno>
	<xs:streetname> kkk </xs:streetname>
	<xs:cityname> Mulki </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 91 </xs:marks>
   <xs:hobbies> Drawing </xs:hobbies>
  </xs:student>
</xs:student_catalog>
 </c_section>
 <c_section>
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> As </xs:fname>
	<xs:lname> B </xs:lname>
	<xs:mname> hni </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 102 </xs:houseno>
	<xs:streetname> Shimantoor </xs:streetname>
	<xs:cityname> chennai </xs:cityname>
	<xs:state> Tamilnadu </xs:state>
   </xs:address>
   <xs:marks> 91 </xs:marks>
   <xs:hobbies> Dancing </xs:hobbies>
  </xs:student>
</xs:student_catalog>
</c_section>
</xs:schema>